.social-icons {
  font-size: 1.25rem;
}

.social-icons a.fa svg {
  cursor: pointer;
  padding: 0 0.1em;
  height: 1em;
}

.social-icons a.fa path {
  fill-opacity: 0.8;
  opacity: 0.8;
}

.social-icons a.fa:hover {
  opacity: 1;
}

.social-icons iframe[title=Flattr] {
  position: relative;
  top: 0.1em;
}
