#main {
  i.fa.fa-calendar {
    margin-right: 8px;
  }

  section p img {
    max-width: 100%;
  }

  header {
    a.tags {
      margin-right: 8px;
    }
  }

  .fb_iframe_widget > span {
    vertical-align: baseline !important;
  }

  section.pagination {
    text-align: center;

    span {
      margin: 0 20px;
    }
  }
}
