---
layout: default
---
<div id="main">
  <article>
    <header>
      <h1 class="post-title">{{ page.title }}</h1>
      <p>
        <span>
          <i class="fa fa-calendar"></i>{{ page.date | date: "%d %B %Y" }}
          {% if page.tags %} on <i class="fa fa-tags"></i> {% for tag in page.tags %}<a class='tags' href="/blog/tag/{{ tag }}.html">{{ tag }}</a>{% endfor %}{% endif %}</span>
      </p>
    </header>

    <section>
      {{ content }}
    </section>

    <section>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="tanukiti1987">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <div class="fb-like" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
    </section>

    <footer>
      {% if page.previous.url or page.next.url %}
      <hr />
        <div class="row">
          <article class="6u 12u$(xsmall) work-item">
            {% if page.previous.url %}
              <p>Previous</p>
              <h3><a href="{{ page.previous.url }}">{{page.previous.title}}</a></h3>
              <p>{{ page.previous.description | strip_html | truncatewords: 50 }}</p>
            {% endif %}
          </article>
          <article class="6u$ 12u$(xsmall) work-item">
            {% if page.next.url %}
              <p>Next</p>
              <h3><a href="{{ page.next.url }}">{{page.next.title}}</a></h3>
              <p>{{ page.next.description | strip_html | truncatewords: 50 }}</p>
            {% endif %}
          </article>
        </div>
      {% endif %}
    </footer>
  </article>
</div>
