---
layout: default
---
<div id="main">
  <article>
    <header>
      <h1 class="post-title">{{ page.title }}</h1>
      <p>
        <span><i class="fa fa-calendar"></i> {{ page.date | date: "%d %B %Y" }}{% if page.categories %} on <i class="fa fa-tags"></i> {{ page.categories | join: ', ' }}{% endif %}</span>
      </p>
    </header>

    <section>
      {{ content }}
    </section>

    <footer>
      {% if page.previous.url or page.next.url %}
      <hr />
        <div class="row">
          <article class="6u 12u$(xsmall) work-item">
            {% if page.previous.url %}
              <p>Previous</p>
              <h3><a href="{{ page.previous.url }}">{{page.previous.title}}</a></h3>
              <p>{{ page.previous.description | strip_html | truncatewords: 50 }}</p>
            {% endif %}
          </article>
          <article class="6u$ 12u$(xsmall) work-item">
            {% if page.next.url %}
              <p>Next</p>
              <h3><a href="{{ page.next.url }}">{{page.next.title}}</a></h3>
              <p>{{ page.next.description | strip_html | truncatewords: 50 }}</p>
            {% endif %}
          </article>
        </div>
      {% endif %}
    </footer>
  </article>
</div>
